.buttonScroll {
  position: fixed;
  bottom: 60px;
  right: 40px;
  background-color: #b00;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  animation-name: experement;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  outline: none;
  padding: 0;
  border: 1px solid transparent;
}

@media (max-width: 640px) {
  .experement {
    display: none;
  }
}

@keyframes experement {
  10% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(1);
  }

  100% {
    trandform: scale(1);
  }
}

.buttonScroll-content {
  position: absolute;
  top: 10px;
  right: 20px;
}

.buttonScroll-content::before {
  content: "";
  display: block;
  background-color: #fff;
  height: 4px;
  width: 20px;
  transform: translate(13px, 10px) rotate(50deg);
}

.buttonScroll-content::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 4px;
  width: 20px;
  transform: translate(1px, 6px) rotate(-50deg);
}
