.mainMenu {
  position: relative;
  background-color: #333;
  transition: all 0.2s linear;
  vertical-align: middle;
}

.mainMenu--visibleList .mainMenu-hiddenList {
  display: block;
}

.mainMenu-burger {
  display: none;
  padding: 16px 32px;
  font-size: 0;
  vertical-align: middle;
}

@media (max-width: 640px) {
  .mainMenu-burger {
    display: inline-block;
  }
}

.mainMenu-hiddenList {
  display: none;
  background-color: #333;
  position: absolute;
  top: 56px;
  padding: 0;
  width: 160px;
  font-size: 0;
  opacity: 0.9;
  border: 1px solid #333;
}

.mainMenu-hiddenItem {
  text-align: center;
  transition: background-color linear 0.2s;
}

.mainMenu-hiddenItem:hover {
  background-color: #f6f2f2;
}

.mainMenu-hiddenItem:focus {
  background-color: #f6f2f2;
}

.mainMenu-hiddenItem:active {
  background-color:#f6f2f2; 
}

.mainMenu-hiddenLink {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 0;
  color: #e0e0e0;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  transition: color linear 0.2s;
}

.mainMenu-hiddenLink:hover {
  color: #ff2d2d;
  opacity: 1;
}

.mainMenu-hiddenLink:focus {
  color: #5c5c5c;
}

.mainMenu-hiddenLink:active {
  color: #e21212;
}

.mainMenu-list {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  font-size: 0;
}

@media (max-width: 640px) {
  .mainMenu-list {
    display: none;
  }
}

/* @media(max-width:640px){
    .mainMenu-list{
        width: 320px;
    }
} */



.mainMenu-item {
  list-style: none;
  display: inline-block;
  width: 25%;
}

.mainMenu-linkMedia:hover .mainMenu-imageMedia {
  background-color: #fff;
  cursor: pointer;
}



.mainMenu-hiddenLink:hover {
  color: #ff2d2d;
  opacity: 1;
}

.mainMenu-hiddenLink:focus {
  color: #5c5c5c;
}

.mainMenu-hiddenLink:active {
  color: #e21212;
}

.mainMenu-link {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 24px 0;
  font-weight: 700;
  color: #e0e0e0;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  font-size: 14px;
}

/* @media(max-width:640px){
    .mainMenu-link{
        font-size: 8px;
        padding: 16px;
    }
} */

.mainMenu-link:hover {
  background-color: #ff2d2d;
  opacity: 1;
}

.mainMenu-link:focus {
  background-color: #5c5c5c;
}

.mainMenu-link:active {
  background-color: #e21212;
}

.mainMenu--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  z-index: 10;
  /* background-color: red; */
}
