@import "generic.css";
@import "../components/section-primary.css";
@import "../components/container.css";
@import "../components/main-menu.css";
@import "../components/link.css";
@import "../components/product-gallery.css";
@import "../components/profile.css";
@import "../components/footer.css";
@import "../components/contact-panel.css";
@import "../components/field.css";
@import "../components/header.css";
@import "../components/video.css";
@import "../components/section-secondary.css";
@import "../components/services-group.css";
@import "../components/services.css";
@import "../components/button.css";
@import "../components/form.css";
@import "../components/form-group.css";
@import "../components/input.css";
@import "../components/textarea.css";
@import "../components/button-scroll.css";
@import "../components/pulse.css";
@import "../components/burger-button.css";

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-LightItalic.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-ExtraBold.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-SemiBoldItalic.woff2")
      format("woff2"),
    url("../assets/font/OpenSans/OpenSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-Italic.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-SemiBold.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-Light.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/font/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../assets/font/OpenSans/OpenSans-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../assets/font/OpenSans/OpenSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
